{
  "overrides": [
    {
      "files": [".prettierrc", ".babelrc", ".eslintrc"],
      "options": {
        "parser": "json",
        "proseWrap": "never",
        "jsxBracketSameLine": false
      }
    }
  ],
  "singleQuote": true
}
